@model TaskManager.Models.TaskItem

<h2>ویرایش تسک</h2>

<form asp-action="Edit" method="post">
    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="UserId" />

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-check mb-3">
        <input asp-for="IsCompleted" class="form-check-input" />
        <label asp-for="IsCompleted" class="form-check-label"></label>
    </div>

    <button type="submit" class="btn btn-success">ویرایش</button>
    <a asp-action="Index" class="btn btn-secondary">انصراف</a>
</form>
