@{
    ViewData["Title"] = "BumNegar";
}


<div class="text-center">
    <h1 class="display-4"> خوش آمدید</h1>
    <p class="text-center">
        Learn about <a href="https://bumnegar.ir/"></a>بزرگترین و معتبرترین گروه تخصصی تولید نرم افزار های اتوماسیون اداری

    </p>
</div>
